:root {
  --primary: #123859;
  --secondary: #419fd9;
  --tertiary: #03738c;
  --quaternary: #8c7503;
  --quinary: #594b02;
  --light: #ffffff;
  --dark: #272f32;
  --border-radius: 0.3rem;
}


* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  background-color: var(--primary);
  color: var(--light);
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--tertiary);
  font-weight: bold;
  transition: color .1s;
}

button {
  background-color: #22a33e;
  border: 0;
  padding: 1%;
  color: var(--light);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #34eb43;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid var(--light);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid var(--quaternary);
}

textarea {
  min-width: 40%;
  min-height: 100px;
  background-color: var(--light);
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--quinary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 2.5rem;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  width: 100%;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary);
}

.btn-no-style:hover {
  color: var(--light);
  background-color: var(--tertiary);
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  background-color: var(--quinary);
  border-radius: 5px;
}

.comment:nth-child(odd) {
  background-color: var(--quaternary);
  border-radius: 5px;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}